@using PrincipalObjects.Objects
@model Report

@{
    User user = (User)ViewData["ActiveUser"];
    string repName = Model.Name.ToString();
    ViewData["Title"] = "EDIT";
    ViewBag.Empleados = Model.EmpsIds;
}

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
<div id="ObjectEdit">
    <div class="hasBlur">
    </div>
    <div class="Edit-Container">
        <div class="Edit-Title text-center">
            <h2>Editar reporte</h2>
        </div>
        <div class="row justify-content-center Edit-Body">
            <div class="col-12">
                <form id="EditForm" asp-action="GuardarReporte" asp-controller="Report">

                    <input type="number" class="form-control Form-data" name="Id" value="@Model.Id" hidden />
                    <input type="number" class="form-control Form-data" name="userId" value="@user.Id" hidden />

                    <div class="row p-0 m-0 justify-content-center">
                        <label for="Name">Nombre</label>
                        <input type="text" class="form-control Form-data" name="Name" value="@Model.Name" />

                        <label for="Description">Descripcion</label>
                        <input type="text" class="form-control Form-data" name="Description" value="@Model.Description" />
                    </div>
                    <div class="row p-0 m-0 justify-content-around">
                        <div class="col-6">
                            <label for="FechaInicio">Fecha Inicio</label>
                            <input name="FechaInicio" type="datetime" class="form-control Form-data" value="@Model.FechaInicio" />
                        </div>
                        <div class="col-6">
                            <label for="FechaFin">Fecha Inicio</label>
                            <input name="FechaFin" type="datetime" class="form-control Form-data" value="@Model.FechaInicio" />
                        </div>

                    </div>
                    <input id="empsIds" name="listEmps" type="text" class="form-control Form-data" value="@Model.EmpsIds" hidden />
                    <div id="EmpsContainer" class="row p-0 m-0 w-100 conttainerOverflow">
                        @Html.Partial("Partials/_empSelector")
                    </div>


                    <div class="row p-0 m-0 justify-content-between buttons-function-container">
                        <div class="col-6 p-1">
                            <button type="submit" id="SaveButton" class="btn btn-secondary">GUARDAR</button>
                        </div>
                        <div class="col-6 p-1">
                            <div id="CancelButton" class="btn btn-dark text-white">CANCELAR</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<script>
        $(".CheckBoxEmpleado").on("change", function (e){
            let valActual = $("#empsIds").val();

            if (e.target.checked)
            {
                valActual = valActual + "," + e.target.getAttribute("id");
                $("#empsIds").val(valActual);
            }else{
                valActual = valActual.replace("," + e.target.getAttribute("id"),'');
                $("#empsIds").val(valActual);
            }
        })
        //# sourceURL=editreport.js

</script>

<style>
    .hasBlur {
        z-index: 9000;
    }
    .conttainerOverflow{
            overflow-y: scroll;
    }
</style>