@using PrincipalObjects.Objects
@model Employee

@{
    User user = (User)ViewData["ActiveUser"];
    ViewData["Title"] = "EDIT";

    List<WorkShift> turnos = new WorkShift().GetTurnosReducidos();
    List<Compra> comprasEmpleado = new List<Compra>();
    if (Model.empId != -1)
    {
        comprasEmpleado = new Compra().GetComprasByEmpleadoId(Model.empId).OrderBy(x => x.comFechaEmision).ToList();
    }
    List<Vale> vales = new List<Vale>();
    if (Model.empId != -1)
    {
        vales = new Vale().GetValesByEmpId(Model.empId).OrderBy(x => x.Fecha).ToList();
    }
}
<style>
    .EmployeeContainer {
        width: 100%;
        height: 500px;
        backgroud-color: white;
        border: solid 2px double;
        border-radius: 1rem;
    }

    .EmployeeContainer_Principal{
        position: absolute;
        top: 100px;
    }

    .empIcon {
        position: absolute;
        font-style: normal !important;
        font-size: 150px;
        padding-bottom: 90px;
        padding-top: 90px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 10px;
        border: solid 2px black;
        z-index: 20;
    }

    .SubTitle{
        background-color: #31343B;
        color: white;
        width: 100%;
        height: 70px;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
</style>

<div id="ObjectEdit">
    <div class="hasBlur">
    </div>
    <div class="Edit-Container">
        <div class="Edit-Title text-center">
            <h2>Editar empleado</h2>
        </div>
        <div class="row p-0 m-0 justify-content-center Edit-Body">
            <div class="col-12 EmployeeContainer_Principal">
                <form id="EditForm" class="esteEdit" asp-action="GuardarEmpleado" asp-controller="Employee">

                    <input type="number" class="form-control Form-data" name="empId" value="@Model.empId" hidden />
                    <input type="number" class="form-control Form-data" name="userId" value="@user.Id" hidden />
                    
                    <div class="row p-1 m-0 justify-content-center EmployeeContainer este">
                        <div class="row p-0 m-1 Sombra" style="border-radius:1rem;border:solid 1px gray;">
                            <div class="col-3">
                                <div style="position:relative;display:flex;top:20px;">
                                    <i class="mdi mdi-account-tie empIcon"></i>
                                </div>
                            </div>

                            <div class="col-9">
                                <div class="row p-0 mb-3 justify-content-center" style="position:relative;display:flex;top:20px;">
                                    <div class="col-4 mt-3">
                                        <label for="Name" class="form-label"><span class="fst-italic">Nombre</span></label>
                                        <input id="Name" type="text" name="empName" class="form-control" value="@Model.empName" />
                                    </div>
                                    <div class="col-4 mt-3">
                                        <label for="Description" class="form-label"><span class="fst-italic">Apellido</span></label>
                                        <input id="Description" type="text" name="empSurName" class="form-control" value="@Model.empSurName" />
                                    </div>
                                    <div class="col-4 mt-3">
                                        <label for="empLegajo" class="form-label"><span class="fst-italic">Legajo</span></label>
                                        <input id="empLegajo" type="text" name="empLegajo" class="form-control" value="@Model.empLegajo" />
                                    </div>

                                    <div class="row p-0 mt-3 mb-3 justify-content-between">
                                        <div class="col-4 mt-2 mb-3">
                                            <label for="empDocumento" class="form-label"><span class="fst-italic">Documento</span></label>
                                            <input id="empDocumento" type="text" name="empDocumento" class="form-control" value="@Model.empDocumento" />
                                        </div>
                                        <div class="col-2 mt-2">
                                            <label for="empIdHikVision" class="form-label"><span class="fst-italic">ID HIK</span></label>
                                            <input id="empIdHikVision" type="text" name="empIdHikVision" class="form-control" value="@Model.empIdHikVision" />
                                        </div>
                                        <div class="col-4 mt-2 mb-2">
                                            <label for="empCard" class="form-label"><span class="fst-italic">Tarjeta HIK</span></label>
                                            <input id="empCard" type="text" name="empCard" class="form-control" value="@Model.empCard" />
                                        </div>
                                        <label for="empCard" class="form-label"><span class="fst-italic">Firma digital</span></label>
                                        <div col="col-4 mt-2">
                                            <style>
                                                .input-group-per {
                                                    position: relative;
                                                    display: flex;
                                                }
                                            </style>
                                            <div class="input-group-per">
                                                <div class="input-group-text">
                                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" disabled @(Model.HuellaBase64 != "" ? "checked" : "")>
                                                </div>
                                                <input id="HuellaBase64" name="HuellaBase64" type="datetime" class="form-control Form-data" value="@Model.HuellaBase64" hidden />

                                                <div class="">
                                                    <input type="number" class="form-control Form-data" name="DedoEnrolado" id="DedoEnrolado" value="@((int)Model.DedoEnrolado)" hidden />

                                                    <select id="DedoSelector" class="form-select form-select-lg" aria-label=".form-select-lg example">

                                                        @foreach (PrincipalObjects.Enums.eDedo dedo in Enum.GetValues(typeof(PrincipalObjects.Enums.eDedo)))
                                                        {
                                                            @if ((int)Model.DedoEnrolado == (int)dedo)
                                                            {
                                                                <option value="@((int)dedo)" selected>@dedo.ToString()</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@((int)dedo)">@dedo.ToString()</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                                <div id="buttonEnrol" class="btn btn-secondary pl-2 d-flex align-items-center" style="background-color: #383030 !important;"><span class="fw-bold">Enrolar</span></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row p-0 mt-1">
                                <div class="col-3"></div>
                                <div class="col-2">
                                    <label for="empSueldo"><span class="fst-italic">Sueldo</span></label>
                                    <div class="input-group">
                                        <span class="input-group-text">$</span>
                                        <input id="empSueldo" name="empSueldo" type="text" class="form-control Form-data" value="@Model.empSueldo" />
                                        <span class="input-group-text">.00</span>
                                    </div>
                                </div>

                                <div class="col-2">
                                    <label for="empSueldoRecibo"><span class="fst-italic">Sueldo recibo</span></label>
                                    <div class="input-group">
                                        <span class="input-group-text">$</span>
                                        <input id="empSueldoRecibo" name="empSueldoRecibo" type="text" class="form-control Form-data" value="@Model.empSueldoRecibo" />
                                        <span class="input-group-text">.00</span>
                                    </div>
                                </div>

                                <div id="EmpsContainer" class="col-4 p-0 mb-5">
                                    <label for="empTurnSelector">Turno</label>
                                    <input id="turId" name="turId" type="number" class="form-control Form-data" value="@(Model.turId == -1?"":Model.turId)" hidden />
                                    <select id="empTurnSelector" class="form-select mb-0" aria-label=".form-select-lg example">
                                        @if (turnos.Count > 0 && Model.turId != -1 && Model.turId != 0)
                                        {
                                            @foreach (WorkShift tur in turnos)
                                            {
                                                @if (Model.turId == tur.turId)
                                                {
                                                    <option value="@tur.turId" selected>@tur.turName</option>
                                                }
                                                else
                                                {
                                                    <option value="@tur.turId">@tur.turName</option>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <option value="-1" selected>Sin turnos</option>
                                            @foreach (WorkShift tur in turnos)
                                            {
                                                <option value="@tur.turId">@tur.turName</option>
                                            }

                                        }
                                    </select>
                                </div>
                                <div class="col-1"></div>
                            </div>
                        </div>
                        
                        <div class="row p-0 m-1 Sombra" style="border-radius:1rem;border:solid 1px gray;">
                            <div class="SubTitle text-center">
                                <h4>Datos adicionales</h4>
                            </div>
                            <div class="row mt-4 mb-4 justify-content-center">
                                <div class="col-5 mt-3 text-center" id="PartialEmployee">
                                    @Html.Partial("Partials/_comprasEmpleado",comprasEmpleado)
                                </div>

                                <div class="col-5 mt-3 text-center" id="PartialEmployeeVale">
                                    @Html.Partial("Partials/_valesEmpleado",vales)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row p-0 mt-5 justify-content-end buttons-function-container">
                        <div class="col-9 p-1"></div>
                        <div class="col-3 p-1">
                            <div type="button" id="SaveButton" class="btn btn-secondary">GUARDAR</div>
                            <div id="CancelButton" class="btn btn-dark text-white">CANCELAR</div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <script>
        $("#DedoSelector").change(function (e) {
            $('#DedoEnrolado').val($(this).val());
        });

        $("#empTurnSelector").change(function () {
            $('#turId').val($(this).val());
        });

        $("#buttonEnrol").on("click", (e) => {
            e.stopImmediatePropagation();

            StartLoader();
            let id = @Model.empId;

            $.ajax({
                url: '/Employee/ObtenerHuellaEmpleado?empId=' + id,
                dataType: 'json',
                async: true,
                success: function (data) {
                    console.log(data);
                    if (data.result == "OK") {
                        $('#HuellaBase64').empty();
                        $('#HuellaBase64').val(data.huella);
                        $("#flexSwitchCheckDefault").prop("checked", true);
                    }
                    StopLoader();
                }
            });
        })
                                //# sourceURL=EmployeeEdit.js
    </script>
</div>

<style>
    .hasBlur {
        z-index: 5000 !important;
    }

    .Edit-Container {
        width: 1000px !important;
    }

    .Edit-Title {
        width: 1000px !important;
    }

</style>