@using PrincipalObjects.Objects
@model Employee

@{
    User user = (User)ViewData["ActiveUser"];
    ViewData["Title"] = "EDIT";

    List<WorkShift> turnos = new WorkShift().GetTurnosReducidos();
    List<Compra> comprasEmpleado = new List<Compra>();
    if (Model.empId != -1)
    {
        comprasEmpleado = new Compra().GetComprasByEmpleadoId(Model.empId).OrderBy(x => x.comFechaEmision).ToList();
    }
    List<Vale> vales = new List<Vale>();
    if (Model.empId != -1)
    {
        vales = new Vale().GetValesByEmpId(Model.empId).OrderBy(x => x.Fecha).ToList();
    }
}


<div id="ObjectEdit">
    <div class="hasBlur">
    </div>
    <div class="Edit-Container">
        <div class="Edit-Title text-center">
            <h2>Editar empleado</h2>
        </div>
        <div class="row justify-content-center Edit-Body">
            <div class="col-12">
                <form id="EditForm" class="esteEdit" asp-action="GuardarEmpleado" asp-controller="Employee">

                    <input type="number" class="form-control Form-data" name="empId" value="@Model.empId" hidden />
                    <input type="number" class="form-control Form-data" name="userId" value="@user.Id" hidden />

                    <div class="row pt-2 mt-3 justify-content-center">
                        <div class="col-4">
                            <i class="mdi mdi-account-tie empIcon"></i>
                        </div>
                        <div class="col-8">
                            <div class="row p-0 m-0 justify-content-center">
                                <div class="col-6">
                                    <label for="Name">Nombre</label>
                                    <input type="text" class="form-control Form-data" name="empName" value="@Model.empName" />
                                </div>
                                <div class="col-6">
                                    <label for="Description">Apellido</label>
                                    <input type="text" class="form-control Form-data" name="empSurName" value="@Model.empSurName" />
                                </div>
                            </div>
                            <div class="row p-0 m-0 justify-content-around">
                                <div class="col-6">
                                    <label for="empLegajo">Legajo</label>
                                    <input id="empLegajo" name="empLegajo" type="datetime" class="form-control Form-data" value="@Model.empLegajo" />
                                </div>
                                <div class="col-3">
                                    <label for="empCard">Tarjeta</label>
                                    <input id="empCard" name="empCard" type="datetime" class="form-control Form-data" value="@Model.empCard" />
                                </div>
                                <div class="col-3">
                                    <label for="empDocumento">Documento</label>
                                    <input id="empDocumento" name="empDocumento" type="text" class="form-control Form-data" value="@Model.empDocumento" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row pt-3 m-0 mt-2 justify-content-center align-item-center w-100">
                        <div class="col-2 p-0 m-1">
                            <label for="empIdHikVision">Id de HikVision</label>
                            <input id="empIdHikVision" name="empIdHikVision" type="text" class="form-control Form-data" value="@Model.empIdHikVision" />
                        </div>

                        <div id="EmpsContainer" class="col-4 p-0 m-1">
                            <label for="empTurnSelector">Turno</label>
                            <input id="turId" name="turId" type="number" class="form-control Form-data" value="@(Model.turId == -1?"":Model.turId)" hidden />
                            <select id="empTurnSelector" class="form-select mb-0" aria-label=".form-select-lg example">
                                @if (turnos.Count > 0 && Model.turId != -1 && Model.turId != 0)
                                {
                                    @foreach (WorkShift tur in turnos)
                                    {
                                        @if (Model.turId == tur.turId)
                                        {
                                            <option value="@tur.turId" selected>@tur.turName</option>
                                        }
                                        else
                                        {
                                            <option value="@tur.turId">@tur.turName</option>
                                        }
                                    }
                                }
                                else
                                {
                                    <option value="-1" selected>Sin turnos</option>
                                    @foreach (WorkShift tur in turnos)
                                    {
                                        <option value="@tur.turId">@tur.turName</option>
                                    }

                                }
                            </select>
                        </div>

                        <div class="col-5 p-0 m-1">
                            <input id="HuellaBase64" name="HuellaBase64" type="datetime" class="form-control Form-data" value="@Model.HuellaBase64" hidden />

                            <div class="">
                                <input type="number" class="form-control Form-data" name="DedoEnrolado" id="DedoEnrolado" value="@((int)Model.DedoEnrolado)" hidden />

                                <label for="DedoSelector">Seleccionar dedo</label>
                                <select id="DedoSelector" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">

                                    @foreach (PrincipalObjects.Enums.eDedo dedo in Enum.GetValues(typeof(PrincipalObjects.Enums.eDedo)))
                                    {
                                        @if ((int)Model.DedoEnrolado == (int)dedo)
                                        {
                                            <option value="@((int)dedo)" selected>@dedo.ToString()</option>
                                        }
                                        else
                                        {
                                            <option value="@((int)dedo)">@dedo.ToString()</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-end text-end">
                        <div col="col-6">
                            <div>
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" @(Model.HuellaBase64 != ""?"checked":"") disabled>
                                <label class="form-check-label" for="flexSwitchCheckDefault">Firma digital</label>

                                <div id="buttonEnrol" class="btn btn-primary pl-2">Enrolar</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="row mt-4 justify-content-center">
                            <div class="col-5 mt-3 text-center" id="PartialEmployee">
                                @Html.Partial("Partials/_comprasEmpleado",comprasEmpleado)
                            </div>

                            <div class="col-5 mt-3 text-center" id="PartialEmployeeVale">
                                @Html.Partial("Partials/_valesEmpleado",vales)
                            </div>
                        </div>
                    </div>

                    <div class="row p-0 m-0 justify-content-between buttons-function-container">
                        <div class="col-6 p-1">
                            <div type="button" id="SaveButton" class="btn btn-secondary">GUARDAR</div>
                        </div>
                        <div class="col-6 p-1">
                            <div id="CancelButton" class="btn btn-dark text-white">CANCELAR</div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <script>
        $("#DedoSelector").change(function(e){
                $('#DedoEnrolado').val($(this).val());
        });

            $("#empTurnSelector").change(function(){
                $('#turId').val($(this).val());
            });

            $("#buttonEnrol").on("click", (e) =>{
                e.stopImmediatePropagation();

                StartLoader();
                let id = @Model.empId;

                $.ajax({
                    url: '/Employee/ObtenerHuellaEmpleado?empId=' + id,
                    dataType: 'json',
                    async: true,
                    success: function (data) {
                        console.log(data);
                        if(data.result == "OK"){
                           $('#HuellaBase64').empty();
                           $('#HuellaBase64').val(data.huella);
                           $("#flexSwitchCheckDefault").prop( "checked", true );
                        }
                        StopLoader();
                    }
                });
            })
        //# sourceURL=EmployeeEdit.js
    </script>
</div>

<style>
    .hasBlur {
        z-index: 5000 !important;
    }

    .Edit-Container {
        width: 1000px !important;
    }

    .Edit-Title {
        width: 1000px !important;
    }

    .empIcon {
        position: absolute;
        top: 6%;
        left: 20%;
        font-style: normal !important;
        font-size: 150px;
        padding-bottom: 35px;
        padding-top: 100px;
        border-radius: 10px;
        z-index: 20;
    }
</style>