@using PrincipalObjects.Objects
@{
    string ver = System.Reflection.Assembly.GetExecutingAssembly().GetName().Version.ToString();
    User user = (User)ViewData["ActiveUser"];

    ViewBag.UsuarioVista = user?.Id;
    string clase = "BlurBack";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(ViewData["Title"] ?? "Login")</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @if (ViewData["Title"] == null)
    {
        <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    }
    <link rel="stylesheet" href="~/css/Loader.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ElectroOULET.styles.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/css/mvc-grid.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/css/mvc-grid/mvc-grid.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/SwalContainers.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/materialdesignicons.min.css?v=@ver" />
    <link rel="stylesheet" href="~/css/material-components-web.min.css" />
    <link rel="stylesheet" href="~/css/material.min.css?v=@ver" />
    <link href="~/css/Select2.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    @if (ViewData["Title"] != "EDIT")
    {
        @if (ViewData["Title"] != null)
        {
            <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container-fluid">

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <div class="text-end">

                                <ul class="navbar-nav flex-grow-1">
                                    <li>
                                        <a class="nav-link" href="/Home/Index?id=@user.Id"><i class="navbar-brand mdi mdi-home IndexIcon m-0 p-0" style="font-size:40px;" id="ToHomeButton"></i></a>
                                    </li>
                                    <li class="nav-item active" id="empNavbar">
                                        <a class="nav-link" href="/Employee/Index?id=@user.Id">Empleados</a>
                                    </li>
                                    <li class="nav-item" id="asiNavbar">
                                        <a class="nav-link" href="/Turno/Index?id=@user.Id">Asistencias</a>
                                    </li>
                                    <li class="nav-item" id="repNavbar">
                                        <a class="nav-link" href="/Report/Index?id=@user.Id">Reportes</a>
                                    </li>
                                    <li class="nav-item" id="devNavbar">
                                        <a class="nav-link" href="/Report/Index?id=@user.Id">Dispositivos</a>
                                    </li>
                                    <li class="nav-item" id="devNavbar">
                                        <a class="nav-link" href="/Reparaciones/Index?id=@user.Id">Registros</a>
                                    </li>
                                </ul>

                            </div>
                            <div class="text-end">
                                <ul class="navbar-nav flex-grow-1">
                                    <li class="nav-item mr-3">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                                                <i class="mdi mdi-account-circle" style="font-size:20px;"></i>
                                                <span class="fw-bolder">@user?.UserName</span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-lg-end">
                                                @if (user.EsAdmin)
                                                {
                                                    <li><button class="dropdown-item fw-bold" type="text">Administrador</button></li>
                                                }
                                                else
                                                {
                                                    <li><button class="dropdown-item fw-bold" type="text">Usuario</button></li>
                                                }
                                                <li><hr class="dropdown-divider"></li>
                                                <li><button class="dropdown-item" type="button"><i class="mdi mdi-cog" style="font-size:15px;"></i>Configurar</button></li>
                                                <li><button id="@user?.Id" class="dropdown-item LogOutButton" type="button"><i class="mdi mdi-account-arrow-left" style="font-size:15px;"></i>Cerrar sesion</button></li>
                                            </ul>
                                        </div>
                                    </li>
                                    @Html.Partial("Partials/_notificaciones")
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
            <div id="loader-container-p" class="loader-container notVisible">
                <div id="principal-loader" class="custom-loader"></div>
            </div>
        }
    }

    <script src="~/js/sweetalert2.all.js"></script>

    <script src="~/js/material.js"></script>
    <script src="~/js/material-components-web.min.js"></script>
    <script src="~/js/material-ui.min.js"></script>
    <script src="~/js/material.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/getmdl-select.min.js"></script>

    @*<script src="~/js/mvc-grid.js" asp-append-version="true"></script>
        <script src="~/js/mvc-grid-extencion.js" asp-append-version="true"></script>
        <script src="~/js/mvc-grid-init.js" asp-append-version="true"></script>
    *@
    <script src="~/js/mvc-grid/mvc-grid.js" asp-append-version="true"></script>
    <script src="~/js/Select2.js"></script>

    @RenderSection("Scripts", required: false)

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script>
        $("#ToHomeButton").on("click", () => {
            window.location.replace('@Url.Action("Index","Home")?id=' + @user?.Id);
        })
    </script>

    <script>
                      function ReloadNotifications() {
                        $(".NotificationList").empty();
                        $(".NotificationList").load("/Home/NotificacionesParaVista");

                        $(".NotificationButton").on("click", (e) => {
                            let id = e.target.getAttribute("id");

                                $.ajax({
                                    type: 'POST',
                                    url: '@Url.Action("EliminarNotificacion", "Notification")?id=' + id,
                                    success: function (result) {
                                        console.log(result);
                                    }
                                });
                            })

                        }

                        setInterval(ReloadNotifications, 3000);


                $(".LogOutButton").on("click", (e) => {
                    e.stopPropagation();
                    e.stopImmediatePropagation();

                    let id = e.target.getAttribute("id");
                    $.ajax({
                        url: '@Url.Action("LogOut","Account")?id=' + id,
                        type: "POST",
                        success: function (e) {
                            window.location.replace('@Url.Action("Login","Account")')
                        }
                    })
                })

                        //#sourceURL: Layout.js
    </script>

    <style>
        .loader-container {
            backdrop-filter: blur(10px);
            height: 100%;
            width: 100%;
            position: fixed;
            -webkit-transition: all 1s ease;
            -o-transition: all 1s ease;
            transition: all 1s esase;
            z-index: 15000;
        }
    </style>
</body>
</html>
